html,
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "rBC1R_TkgdvXlXY8FF2VsPmaosg", sans-serif;
}

@font-face {
  font-family: "rBC1R_TkgdvXlXY8FF2VsPmaosg";
  src: url("../public/font/rBC1R_TkgdvXlXY8FF2VsPmaosg.ttf") format("truetype");
}