.td > button {
    font-size: medium;
    font-weight: bolder;
    border-radius: 7px;
}

.td > p {
    font-size: large;
    font-weight: bolder;
    margin-top: 1rem;
}

.div > button {
    font-size: medium;
    font-weight: bolder;
    border-radius: 7px;
    border: solid wheat 1px;
    height: 38px;
    width: 13%;
    margin-top: 20px;
    color: whitesmoke;
}

.button {
    font-size: medium;
    font-weight: bolder;
    border-radius: 7px;
    border: solid wheat 1px;
    height: 38px;
    margin-top: 20px;
    color: whitesmoke;
}


.div { 
    display: flex;
    justify-content: space-between;
}